<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
        body{
        background:black;
        color:yellow;
        text-align:center;
        height:90vh;
        width:100%;
        }
        form{
        margin-top:250px;
        }
        label{
        font-size:30px;}
        input{
        height:30px;
        width:300px;
        border:none;}
        .btn{
        background:yellow;
        color:blue;
        font-weight:700;
        border:none;
        border-radius:none;}

    </style>
</head>
<body>
<form action="/new" method="get">
    <label>please enter your name :</label><br><br>
    <input type="text" name="text" required><br><br>
    <input type="submit" class="btn" name="submit">
</form>
</body>
</html>